<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      internalLogLevel="Debug"
      internalLogFile="nlog-internal.log">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.DiagnosticSource" />
        <add assembly="NLog.Loki" />
    </extensions>

    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
    <variable name="standardLayout"
              value="${longdate} ${level:uppercase=true} [${logger:shortName=true}] [TraceId: ${activity:property=TraceId}] [SpanId: ${activity:property=SpanId}] ${message} ${exception:format=tostring}" />

    <targets>
        <target name="system" xsi:type="File" fileName="${logDirectory}/system.log"
                layout="${standardLayout}" />
        <target name="custom" xsi:type="File" fileName="${logDirectory}/${logger:shortName=True}.log"
                layout="${standardLayout}" />
        <target name="lifetimeConsole" xsi:type="ColoredConsole"
                layout="${standardLayout}" />
        <target name="loki" xsi:type="loki"
                endpoint="http://localhost:3100"
                batchSize="1000"
                taskDelayMilliseconds="1000"
                compressionLevel="optimal"
                orderWrites="false"
                retryCount="3"
                retryDelayMilliseconds="1000">

            <layout xsi:type="JsonLayout" includeEventProperties="true" includeScopeProperties="true">
                <attribute name="timestamp" layout="${longdate}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger:shortName=true}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
                <attribute name="machineName" layout="${machinename}" />
                <attribute name="processId" layout="${processid}" />
                <attribute name="threadId" layout="${threadid}" />
                <attribute name="traceId" layout="${activity:property=TraceId}" />
                <attribute name="spanId" layout="${activity:property=SpanId}" />
                <attribute name="parentId" layout="${activity:property=ParentId}" />
                <attribute name="operationName" layout="${activity:property=OperationName}" />
                <attribute name="displayName" layout="${activity:property=DisplayName}" />
                <attribute name="durationMs" layout="${activity:property=DurationMs}" />
                <attribute name="status" layout="${activity:property=Status}" />
                <attribute name="statusDescription" layout="${activity:property=StatusDescription}" />
                <attribute name="activityKind" layout="${activity:property=ActivityKind}" />
                <attribute name="sourceName" layout="${activity:property=SourceName}" />
                <attribute name="sourceVersion" layout="${activity:property=SourceVersion}" />
                <attribute name="activityTags" layout="${activity:property=Tags:format=@}" />
                <attribute name="activityBaggage" layout="${activity:property=Baggage:format=@}" />
                <attribute name="requestId" layout="${aspnet-request-id}" />
                <attribute name="requestPath" layout="${aspnet-request-url}" />
                <attribute name="userAgent" layout="${aspnet-request-useragent}" />
                <attribute name="clientIp" layout="${aspnet-request-ip}" />
                <attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT:whenEmpty=Development}" />
                <attribute name="version" layout="${assembly-version}" />
            </layout>

            <label name="service" layout="Money.Api" />
            <label name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT:whenEmpty=Development}" />
            <label name="level" layout="${level:lowercase=true}" />
            <label name="logger" layout="${logger:shortName=true}" />

            <label name="trace_id" layout="${activity:property=TraceId}" />
            <label name="span_id" layout="${activity:property=SpanId}" />
            <label name="operation_name" layout="${activity:property=OperationName}" />
            <label name="span_status" layout="${activity:property=Status}" />
            <label name="activity_kind" layout="${activity:property=ActivityKind}" />
            <label name="source_name" layout="${activity:property=SourceName}" />
        </target>
    </targets>

    <rules>
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <logger name="Microsoft.AspNetCore.*" finalMinLevel="Info" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
        <logger name="OpenIddict*" finalMinLevel="Info" />

        <logger name="*" minlevel="Debug" writeTo="lifetimeConsole" />
        <logger name="Money.Api.*" writeTo="custom,loki" final="true" />
        <logger name="Money.Business.*" writeTo="custom,loki" final="true" />
        <logger name="*" minlevel="Info" writeTo="system" />
    </rules>
</nlog>
